@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0f1724;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: theme('colors.slate.900');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
